<ul class="form_qualif">
    <li><b>Documents et audits</b>
        <ul>
            <li><input type="checkbox" id="proc_doc_cart"/>Cartographie SI</li>
            <li><input type="checkbox" id="proc_doc_sch"/>Schéma réseau</li>
            <li><input type="checkbox" id="proc_doc_matr"/>Matrice des flux</li>
            <li><input type="checkbox" id="proc_doc_orad"/>ORADAD/PingCastle</li>
            <li><input type="checkbox" id="proc_doc_adti"/>ADTimeline</li>
        </ul>
    </li>
    <li><b>Forensics</b>
        <ul>
            <li><input type="checkbox" id="proc_for_qual"/>Qualification</li>
            <li><input type="checkbox" id="proc_for_conf"/>Confinement</li>
            <li><input type="checkbox" id="proc_for_coll"/>Collecte</li>
            <li><input type="checkbox" id="proc_for_invs"/>Investigation</li>
            <li><input type="checkbox" id="proc_for_remd"/>Remédiation</li>
        </ul>
    </li>
    <li><b>Suivi d'incident</b>
        <ul>
            <li><input type="checkbox" id="proc_suiv_dur"/>Durcissement</li>
            <li><input type="checkbox" id="proc_suiv_dur"/>Relais d'informations</li>
            <li><input type="checkbox" id="proc_suiv_rec"/>Récupération</li>
        </ul>
    </li>
    <li><b>Stratégie</b>
        <ul>
            <li><input type="checkbox" id="proc_str_suiv"/>Suivi légal</li>
            <li><input type="checkbox" id="proc_str_cri"/>Gestion de crise</li>
            <li><input type="checkbox" id="pcro_str_com"/>Communication</li>
        </ul>
    </li>
</ul>