<ul class="form_qualif">
    <li><input type="checkbox" id="orga_red_tckt"/>Ticket Redmine</li>
    <li><input type="checkbox" id="orga_psig_num"/>Déclaration PSIG</li>
    <li><input type="checkbox" id="orga_str_name"/>Nom de la structure</li>
    <li><input type="checkbox" id="orga_ght_grp"/>GHT/Groupe</li>
    <li><input type="checkbox" id="orga_dmn"/>Domaine</li>
    <li><input type="checkbox" id="orga_svc_med"/>Services médicaux hébergés</li>
    <li><input type="checkbox" id="orga_his_inc"/>Historique des incidents</li>
    <li>Contacts
        <ul>
            <li><input type="checkbox" id="orga_cont_rssi"/>RSSI</li>
            <li><input type="checkbox" id="orga_cont_dsi"/>DSI</li>
            <li><input type="checkbox" id="orga_cont_dpo"/>DPO</li>
            <li><input type="checkbox" id="orga_cont_dir"/>Direction</li>
            <li><input type="checkbox" id="orga_cont_techteam"/>Equipe technique</li>
            <li><input type="checkbox" id="orga_cont_presta"/>Prestataires</li>
        </ul>
    </li>
    <li><input type="checkbox" id="orga_nb_info"/>Nombre d'informaticien.ne.s</li>
    <li><input type="checkbox" id="orga_dep_plt"/>Dépôt de plainte</li>
    <li><input type="checkbox" id="orga_dep_cnil"/>Dépôt CNIL</li>
    <li><input type="checkbox" id="orga_str_cris"/>Structure de crise</li>
    <li><input type="checkbox" id="orga_usr_upld"/>User (Upload) + MDP</li>
    <li><input type="checkbox" id="orga_cont_anly"/>Analystes</li>
    <li>Risques
        <ul>
            <li><input type="checkbox" id="orga_rsk_srcpr"/>Sur-compromission</li>
            <li><input type="checkbox" id="orga_rsk_matur"/>Maturité du SI</li>
        </ul>
    </li>
</ul>