<ul class="form_qualif">
    <li><input type="checkbox" id="desc_desc_inc"/>Descriptif de l'incident</li>
    <li><input type="checkbox" id="desc_obsv"/>Observables</li>
    <li><input type="checkbox" id="desc_imp_si"/>Impacts SI</li>
    <li><input type="checkbox" id="desc_imp_soin"/>Impacts soins</li>
    <li><input type="checkbox" id="desc_imp_type"/>Type d'impact observé</li>
    <li><input type="checkbox" id="desc_obsv_date"/>Date et heure des premiers observables</li>
    <li><h3>Observables</h3>
        <ul>
        <li><input type="checkbox" id="desc_alrt_secu"/>Alertes : AV, EDR, WAF, ...</li>
        <li><input type="checkbox" id="desc_alrt_mail"/>Courriels et mails</li>
        <li><input type="checkbox" id="desc_alrt_note"/>Notes de rançons, fichiers</li>
        <li><input type="checkbox" id="desc_alrt_addr"/>Adresses IP</li>
        </ul>
    </li>
    <li><input type="checkbox" id="desc_ioc_list"/>IoC</li>
    <li>Liste des éléments compromis
        <ul>
        <li><input type="checkbox" id="desc_comp_svc"/>Services</li>
        <li><input type="checkbox" id="desc_comp_cpt"/>Comptes</li>
        <li><input type="checkbox" id="desc_comp_mch"/>Machines</li>
        </ul>
    </li>
    <li><input type="checkbox" id="desc_rst_pran"/>Résultats de la pré-analyse</li>
    <li>Sources de collectes et journaux
    <ul>
        <li><input type="checkbox" id="desc_src_fwl"/>Firewall/Proxy</li>
        <li><input type="checkbox" id="desc_src_vpn"/>VPN</li>
        <li><input type="checkbox" id="desc_src_orc"/>ORC machines et serveurs</li>
        <li><input type="checkbox" id="desc_src_ual"/>Logs UAL (Azure)</li>
        <li><input type="checkbox" id="desc_src_mail"/>Logs webmail</li>
        <li><input type="checkbox" id="desc_src_auth"/>Authentification</li>
        <li><input type="checkbox" id="desc_src_app"/>Applicatifs</li>
        <li><input type="checkbox" id="desc_src_sso"/>Activité SSO</li>
        <li><input type="checkbox" id="desc_src_hyp"/>Hyperviseur</li>
        </ul>
    </li>
</ul>